body{
    margin: 0px;
}
/*NavBar*/
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}
#CheckShopCart{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}
/*Banner*/
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://previews.123rf.com/images/magicpictures/magicpictures1709/magicpictures170900275/85467898-vector-illustration-of-horizomtal-banner-of-bookshelves-with-retro-style-books-for-vintage-bookstore.jpg);
}
.banner-container{
    text-align: center;
    padding: 15% 0;
}
.banner h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}
.banner p{
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/*Products-cards*/
.Shop-Content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.Card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Card > img{
    width: 90%;
    height: 250px;
}
.price-tag{
    color: gray;
    font-size: 22px;
}
.Card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: azure;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.Card button:hover{
    opacity: 0.7;
}
/*Modal-content*/
.modal-Window{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}
.modal-Window::-webkit-scrollbar{
    display: none;
}
.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: greenyellow;
}

.modal-header-button{
    cursor: pointer;
}
.modal-Window > .modal-window-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}
.modal-Window > div > img{
    height: 120px;
    width: 120px;
}
.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.delete-product{
    cursor: pointer;
}

.shop-Cart-Quantity{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}