body{
    margin: 0px;
}
/*NavBar*/
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}
#CheckShopCart{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}
/*Banner*/
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://previews.123rf.com/images/leoedition/leoedition1708/leoedition170800390/84001974-banner-en-l%C3%ADnea-de-la-bandera-del-libro-libro-de-recuerdos-o-librer%C3%ADa-en-el-fondo.jpg);
}
.banner-container{
    text-align: center;
    padding: 15% 0;
}
.banner h1{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}
.banner p{
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}